@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, ::before, ::after  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Header */

li, a, button {  
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    font-weight: bold;

}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 10%;
    background-color: #005d63; 
    height: 13vh;
}

.logo { 
    cursor: pointer;
}

 .nav_links { 
    list-style: none;
    font-weight: bold;
}

.nav_links li { 
    display: inline-block;
    padding: 0px 20px;
    background-color: #005d63;
 } 

.nav_links li a { 
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #f3a547;
}

button {
    margin-left: 50px;
    padding: 9px 25px;
    background-color: #5eabe1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
}

button:hover {
    background-color: #f3a547;
 } 

 




/* Background */ 

section.fond { 
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Images/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 

 /* Button  */

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    text-decoration: none;
    padding: 20px 50px;
    font-size: 4rem;
    position: relative;
    margin: 32px;
}

.btn-1 {
    background: #5eabe1;
    color: white;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.btn-1::after, .btn-1::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    background: black;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.btn-1:hover{
    transform: translate(-12px, -12px);
}

.btn-1:hover::after {
    transform: translate(6px, 6px);
}

.btn-1:hover::before{
    transform: translate(12px, 12px);
}




 section.buttons {
    position: relative;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00989e;
 }


.containers {
    height: 100px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}

 .btn2{ 
    text-decoration: none;
    padding: 20px 50px;
    font-size: 2rem;
    position: relative;
    margin: 32px;
    background-color:#f3a547;
}

.btn-2{
    color: white;
}

.btn-2::after, .btn-2::before {
    border: 3px solid #ec9831;
    content: "";
    position: absolute;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: transform 0.3s ease;
}

.btn-2:hover::after {
    transform: translate(-5px,  -5px);
}

.btn-2:hover::before {
    transform: translate(5px,  5px);
 } 

.titre {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00989e;
    height: 10vh;
    
}

/* .h3 {
    font-size: 40px;
    color: #5eabe1;
} */



.h3 {
    font-size: 40px;
    color: #5eabe1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 1.6rem;
    /* text-decoration-line: line-through; 
    text-decoration-color: black;
    text-decoration-thickness: 0.2em; */
}

.h3::before, .h3::after {
    content: "";
    height: 3px;
    background-color: white;
    display: block;
}



/* Timeline */

section.timeline {
    font-family: "Roboto", sans-serif;
}
body {
    background: white;
} 
h1 {
    text-align: center;
    padding: 240px 0;
    color: #f1f1f1;
}
.box-timeline {
    width: 100%;
    height: 1300px;
    background: #00989e;
    position: relative;
    padding: 80px 0 250px 0;
}

.ligne {
    height: 1000px;
    width: 8px;
    margin: 0 auto;
    background: #005d63;
}

.rond {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #005d63;
    position: absolute;
    border: 1px solid #005d63;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.r1{top: 80px;}
.r2{top: 386px;}
.r3{top: 692px;}
.r4{top: 1000px;}


.box {
    color: #333;
    width: 400px;
    min-height: 200px;
    padding: 20px;
    border-radius: 3px;
    height: auto;
    background: #f1f1f1;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.b1 {
    top: 80px;
    left: calc(50% - 270px);
}
.b2 {
    top: 386px;
    left: calc(50% + 270px);
}
.b3 {
    top: 692px;
    left: calc(50% - 270px);
}
.b4 {
    top: 1000px;
    left: calc(50% + 270px);
}

.box p {
    line-height: 20px;
    font-size: 18px;
    margin: 10px 0 20px 0;
} 

.bttun {
    display: block;
    background: midnightblue;
    padding: 10px;
    width: 120px;
    text-align: center;
    color: #f1f1f1;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
}

section.tesla {
    background-color: #00989e;
    margin: 0;
    font-family: sans-serif;
    height: 355px;
}

.blablacar {
    background-color: #005d63;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    /* width: 400px; */
    margin: 0 auto 0 auto;
    border-radius: 50px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    align-items: center;
    /* display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; */
    
}

img.pepsi{
    height: 250px;
}

p.coca{
    color: #c0bdbd;
    margin-right: 15px;
}


/* section People */

section.ppl {
    background-color: #00989e;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.wrapper {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.grey {
    color: #999999;
}

.profile-top {
    height: 250px;
    width: 500px;
    background-image: url(Images//Background2.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.profile-image-este {
    background-image: url(Images/esteban.jpg);
    /* background-position: center; */
    background-size: cover;
    /* position: relative; */
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.profile-image-eva {
    background-image: url(Images/evariste.jpg);
    background-position: center;
    background-size: cover;
    /* position: relative; */
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.profile-image-yako {
    background-image: url(Images/yako.jpg);
    /* background-position: center; */
    background-size: cover;
    /* position: relative; */
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.profile-image-pa {
    background-image: url(Images/pierre-antoine.jpg);
    background-position: center;
    background-size: cover;
    /* position: relative; */
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.profile-image-jul {
    background-image: url(Images/jules.jpg);
    /* background-position: center; */
    background-size: cover;
    /* position: relative; */
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.profile-bottom {
    margin-top: 75px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-infos {
    display: flex;
    align-items: center;
    font-size: 26px;
    margin-bottom: 5px;
}

.name {
    font-weight: 700;
    margin-right: 15px;
}

.email {
    font-size: 14px;
    margin-bottom: 25px;
}

.ville {
    font-size: 20px;
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ville ion-icon {
    margin-right: 5px;
    color: #5eabe1;
}

.profile-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%; 
}

 .stat-item:not(:last-child) { 
    border-right: 1px solid #f3a547;
}

.stat {
    font-size: 20px;
    font-weight: 700;
}

.git  {
    color: black;
    width: 10px;
    height: auto;
}

/* ion-icon .logo-github{
    color: black;
    width: 15px;
    height: 15px;
} */


/* Footer */

section.footerr {
    line-height: 1.5;
}

.coontainer {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #005d63;
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #f3a547;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #f3a547;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

/* responsive */

/* .boites{
    display: none;
}

.circle-container {
    display:none
} */

@media screen and (min-width: 576px) {
    .boites{
        display:none;
    }
    .circle-container{
        display:none;
    }
}

@media screen and (max-width: 1200px) {

    .ligne {
        position: relative;
        left: 200px;
    }
    .rond {
        left: calc(50% + 200px);
    }
    .box {
        left: calc(50% - 50px)
    }

    section.tesla {
        height: 700px;
    }

    .blablacar {
        width: 400px;
        flex-direction: column;
        align-items: center;
        text-align: center; 
    }
}

@media (max-width: 860px) {
    header {
        flex-direction: column;
        text-align: center;
        height: 150px;
    }
    section.ppl {
        height: 60vh;
    }
}

@media (max-width: 768px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    section.ppl {
        height: 65vh;
    }

}



@media (max-width: 574px) {
    .footer-col{
        width: 100%;
    }

    .btn{
        font-size: 30px;
    }

    section.ppl {
        height: 100vh;
    }
    section.tesla {
        height: 730px;
    }

    .blablacar {
        width: 350px;
        flex-direction: column;
        align-items: center;
        text-align: center; 
    }

    .h3 {
        font-size: 25px;
    }



    section.ppl {
        display: none;
    }

    .resp {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1200px;
        margin: 0;
        background-color: #00989e;
      }
      
      .circle-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .circle1 {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f1f1f1;
        margin-bottom: 20px;
        
      }
      
      .circle1 img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-position: center;
        object-fit: cover;
        object-position: top;
      }
      
      .circle1 span {
        margin-top: 10px;
        text-align: center;
      }

      .circle2 {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f1f1f1;
        margin-bottom: 20px;

      }

      .circle2 img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-position: center;
        object-fit: cover;
      }

      .circle2 span {
        margin-top: 10px;
        text-align: center;
      }

      .btn2{ 
        padding: 20px;
        font-size: 10px;
    }

    section.timeline {
        display: none;
    }

    section.boxes{
        background-color: #00989e;
    }

    .boites {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      
      .boi {
        width: 300px;
        padding: 20px;
        background-color: #f1f1f1;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
      }
      
      .boi h2 {
        font-size: 20px;
        margin-top: 0;
      }
      
      .boi p {
        font-size: 16px;
        margin-bottom: 0;
      }
      
      

}

@media (max-width:280px) {
    section.tesla {
        height: 980px;
    }

    .blablacar {
        width: 250px;
        flex-direction: column;
        align-items: center;
        text-align: center; 
    }

    .btn{
        font-size: 20px;
    }

    .btn2{ 
        padding: 20px;
        font-size: 3px;
    }

    .boi{
        width: 150px;
    }
}
















